<!-- index.hbs -->
<h1>Characters Table</h1>
<table id="characters-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.character_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.level}}</td>
            <td>{{this.strength}}</td>
            <td>{{this.dexterity}}</td>
            <td>{{this.constitution}}</td>
            <td>{{this.intelligence}}</td>
            <td>{{this.wisdom}}</td>
            <td>{{this.charisma}}</td>
            <td>{{this.race_id}}</td>
            <td>{{this.class_id}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<form id="add-character-form">
    <label for="input-name">Character Name: </label>
    <input type="text" name="input-name" id="input-name">

    <label for="input-lvl">Character Level: </label>
    <input type="number" name="input-lvl" id="input-lvl">

    <label for="input-str">Strength: </label>
    <input type="number" name="input-str" id="input-str">

    <label for="input-dex">Dexterity: </label>
    <input type="number" name="input-dex" id="input-dex">

    <label for="input-con">Constitution: </label>
    <input type="number" name="input-con" id="input-con">

    <label for="input-int">Intelligence: </label>
    <input type="number" name="input-int" id="input-int">

    <label for="input-wis">Wisdom: </label>
    <input type="number" name="input-wis" id="input-wis">

    <label for="input-chr">Charisma: </label>
    <input type="number" name="input-chr" id="input-chr">

    <select name="input-race" id="input-race">
        <option value="">Select Race</option>
        {{#each races}}
        <option value="{{this.race_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    {{!-- <label for="input-race">Race ID</label>
    <input type="number" name="input-race" id="input-race"> --}}

    <select name="input-class" id="input-class">
        <option value="">Select Class</option>
        {{#each classes}}
        <option value="{{this.class_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    {{!-- <label for="input-class">Class ID</label>
    <input type="number" name="input-class" id="input-class"> --}}



    <input type="submit">
</form>
<script src="./js/add_character.js"></script>