<!--  
Citation for the AJAX/app.js/express-handlebars design:
// Date: 11/7/2023
// Adapted from OSU CS340 NodeJS Starter App
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app

Citation for Icons:
//Date: 11/20/2023
// Icons for Submit, Delete, and Edit buttons were provided from svgrepo.com
// Source URL for Edit Icons: https://www.svgrepo.com/svg/511904/edit-1479
//Source URL for Submit Icons:https://www.svgrepo.com/svg/494419/submit-success-check-mark
//Soruce Url for Delete Icons: https://www.svgrepo.com/svg/499905/delete

Citation for Font Families
//Date: 11/20/2023
// Font Family ttfs obtained from fontrepo.com
//Source URL: https://www.fontrepo.com/font/360/adventure-request
//Source URL: https://www.fontrepo.com/fonts/adventure-subtitles/

Citation for Bootstrap:
// Date: 12/4/2023
// Bootstrap utility for layout design/styling obtained from https://getbootstrap.com
// Source URL: https://getbootstrap.com/docs/5.3/getting-started/introduction/
-->

<!-- Show the Characters table -->

<h1>Characters Table</h1>

<!---Button for Toggling Display of Add Form to user -->
<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button id="show-char-btn" type="button" class="btn btn-default" onclick="displayForm()">Add A New Character</button>
        </div>
    </div>
</div>

<!-- Add row to Characters table -->
<div class="container">
    <form class="add-form" id="add-character-form">
        <fieldset class="form-group border p-3">
            <legend class="float-none w-auto">Add A New Character</legend>
            <div class="row">
                <div class="col-6">
                    <input type="text" class="form-control" name="input-name"  id="input-name" placeholder=" Character Name" required>
                </div>

                <div class="col-3">
                    <select name="input-race" class="form-select"  id="input-race" required>
                        <option value="">Select Race</option>
                        {{#each races}}
                        <option value="{{this.race_id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="col-3">
                    <select name="input-class" class="form-select" id="input-class" required>
                        <option value="">Select Class</option>
                        {{#each classes}}
                        <option value="{{this.class_id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label for="input-lvl" class="form-label">Level: </label>
                    <input type="number" class="form-control" name="input-lvl"  id="input-lvl" placeholder="Level Value" required>
                </div>
            
                <div class="col-3">
                    <label for="input-str" class="form-label">Strength: </label>
                    <input type="number" class="form-control" name="input-str"  id="input-str" placeholder="STR Value" required>
                </div>
                <div class="col-3">
                    <label for="input-dex" class="form-label">Dexterity: </label>
                    <input type="number" class="form-control" name="input-dex"  id="input-dex" placeholder="DEX Value" required>
                </div>
                <div class="col-3">
                    <label for="input-con" class="form-label">Constitution: </label>
                    <input type="number" class="form-control" name="input-con"  id="input-con" placeholder="CON Value" required>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label for="input-int" class="form-label">Intelligence: </label>
                    <input type="number" class="form-control" name="input-int"  id="input-int" placeholder="INT Value" required>
                </div>
                <div class="col-3">
                    <label for="input-wis" class="form-label">Wisdom: </label>
                    <input type="number" class="form-control" name="input-wis"  id="input-wis" placeholder="WIS Value" required>
                </div>
                <div class="col-3">
                    <label for="input-chr" class="form-label">Charisma: </label>
                    <input type="number" class="form-control" name="input-chr"  id="input-chr" placeholder="CHR Value" required>
                </div>

                <div class="col-3">
                    <label for="add-char-btn" class="form-label">Join Party? </label>
                    <button type="submit" class="btn btn-primary" id="add-char-btn">Add Character</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script src="./js/add_character.js"></script>

<table id="characters-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        {{#each data}}
        <tr data-value={{this.ID}}>
            <td>{{this.ID}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Level}}</td>
            <td>{{this.Strength}}</td>
            <td>{{this.Dexterity}}</td>
            <td>{{this.Constitution}}</td>
            <td>{{this.Intelligence}}</td>
            <td>{{this.Wisdom}}</td>
            <td>{{this.Charisma}}</td>
            <td>{{this.Race}}</td>
            <td>{{this.Class}}</td>
            <td><button id="edit-btn" onclick="updateCharacter({{this.ID}})"><img src="/img/edit-icon.svg" width="39" height="30"></button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Update row in Characters table -->
<form id="update-character-form" hidden>
    <fieldset>
        <legend>Edit Character</legend>
        <label for="input-name-update">Character Name: </label>
        <input type="text" name="input-name-update" id="input-name-update" placeholder="Name">

        <label for="input-lvl">Level: </label>
        <input class="numbered" type="number" name="input-lvl" id="input-lvl-update" placeholder="Enter Level">
        
        <label for="input-str">Strength: </label>
        <input class="numbered" type="number" name="input-str" id="input-str-update" placeholder="STR Value">
        
        <label for="input-dex">Dexterity: </label>
        <input class="numbered" type="number" name="input-dex" id="input-dex-update" placeholder="DEX Value">
        
        <label for="input-con">Constitution: </label>
        <input class="numbered" type="number" name="input-con" id="input-con-update" placeholder="CON Value">
        <br>

        <label for="input-int">Intelligence: </label>
        <input class="numbered" type="number" name="input-int" id="input-int-update" placeholder="INT Value">
        
        <label for="input-wis">Wisdom: </label>
        <input class="numbered" type="number" name="input-wis" id="input-wis-update" placeholder="WIS Value">

        <label for="input-chr">Charisma: </label>
        <input class="numbered" type="number" name="input-chr" id="input-chr-update" placeholder="CHR Value"> 
        
        <select name="input-race-update" id="input-race-update">
            {{#each races}}
            <option value="{{this.race_id}}">{{this.name}}</option>
            {{/each}}
        </select>

        <select name="input-class-update" id="input-class-update">
            {{#each classes}}
            <option value="{{this.class_id}}">{{this.name}}</option>
            {{/each}}
        </select>

        <input type="submit">
    </fieldset>   
</form>

<script src="./js/update_character.js"></script>