<!-- 
// Citation for the following file:
// Date: 11/7/2023
// Adapted from OSU CS340 NodeJS Starter App
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app

// Citation for Font Family
//Date: 11/20/2023
// Font Family ttf obtained from fontrepo.com
//Source URL: https://www.fontrepo.com/font/360/adventure-request
-->

<!-- Show Races table -->
<h1>Classes Table</h1>
<table id="classes-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    
    <tbody>
        {{#each data}}
        <tr data-value={{this.ID}}>
            <td>{{this.ID}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{!-- add new class row --}}
<h2>Add a New Character Class</h2>
<form id="add-class-form">
    <fieldset>
        <legend>Add New Class</legend>
        <label for="input-class-name">New Class: </label>
        <input type="text" name="input-class-name" id="input-class-name" placeholder="Enter Class">

        <label for="input-class-description">Description: </label>
        <input type="text" name="input-class-description" id="input-class-description" placeholder="Enter Description">

        <!-- Disable add class -->
        <input type="submit">
    </fieldset>
</form>

<script src="./js/add_class.js"></script>
