<!-- 
// Citation for the following file:
// Date: 11/7/2023
// Adapted from OSU CS340 NodeJS Starter App
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app

// Citation for Font Family
//Date: 11/20/2023
// Font Family ttf obtained from fontrepo.com
//Source URL: https://www.fontrepo.com/font/360/adventure-request

// Citation for Bootstrap:
// Date: 12/4/2023
// Bootstrap utility for layout design/styling obtained from https://getbootstrap.com
// Source URL: https://getbootstrap.com/docs/5.3/getting-started/introduction/
-->

<!-- Show Races table -->
<h1>Classes Table</h1>
<table id="classes-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    
    <tbody>
        {{#each data}}
        <tr data-value={{this.ID}}>
            <td>{{this.ID}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button id="show-classes-btn" type="button" class="btn btn-default" onclick="displayForm()">Add Class</button>
        </div>
    </div>
</div>

{{!-- add new class row --}}
<div class="container">
    <form class="add-form" id="add-class-form">
        <fieldset class="form-group border p-3">
            <legend class="float-none w-auto">Add New Class</legend>
            <div class="row text-center">
                <div class="col-4">
                    {{!-- <label class="form-label" for="input-class-name">New Class: </label> --}}
                    <input type="text" class="form-control" name="input-class-name" id="input-class-name" placeholder="Enter Class" required>
                </div>
                <div class="col-5">
                    {{!-- <label class="form-label" for="input-class-description">Description: </label> --}}
                    <input type="text" class="form-control" name="input-class-description" id="input-class-description" placeholder="Enter Description" required>
                </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-primary" id="add-class-btn">Add Class</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script src="./js/add_class.js"></script>
