<!-- 
// Citation for the following file:
// Date: 11/7/2023
// Adapted from OSU CS340 NodeJS Starter App
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app

// Citation for Font Family
//Date: 11/20/2023
// Font Family ttf obtained from fontrepo.com
//Source URL: https://www.fontrepo.com/font/360/adventure-request

// Citation for Bootstrap:
// Date: 12/4/2023
// Bootstrap utility for layout design/styling obtained from https://getbootstrap.com
// Source URL: https://getbootstrap.com/docs/5.3/getting-started/introduction/


-->

<!-- Show Event Difficultiestable -->
<h1>Event Difficulties Table</h1>
<table id="difficulties-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    
    <tbody>
        {{#each data}}
        <tr data-value={{this.ID}}>
            <td>{{this.ID}}</td>
            <td>{{this.Value}}</td>
            <td>{{this.Description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button id="show-difficulty-btn" type="button" class="btn btn-default" onclick="displayForm()">Add Difficulty</button>
        </div>
    </div>
</div>

<!-- Add row to Event Difficulties table -->
<div class="container">
    <form class="add-form" id="add-difficulty-form">
        <fieldset class="form-group border p-3">
            <legend class="float-none w-auto">Add New Difficulty</legend>
            <div class="row text-center">
                <div class="col-5">
                    <label for="input-difficulty-value" class="form-label">New Difficulty Value: </label>
                    <input type="number" class="form-control" name="input-difficulty-value" id="input-difficulty-value" placeholder="Enter Roll Value" required>
                </div>
                <div class="col-4">
                    <label for="input-diff-description" class="form-label">Description: </label>
                    <input type="text" class="form-control" name="input-diff-description" id="input-diff-description" placeholder="Enter Description" required>
                </div>
                <div class="col-3">
                    <label for="add-difficulty-btn" class="form-label">Click to Add </label>
                    <button type="submit" class="btn btn-primary" id="add-difficulty-btn">Add Difficulty</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>

<script src="./js/add_difficulty.js"></script>