<!-- Show Skill Checks table -->
<h1>Skill Check Events</h1>
<table id="events-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    
    <tbody>
        {{#each data}}
        <tr data-value={{this.skill_check_id}}>
            <td>{{this.skill_check_id}}</td>
            <td>{{this.description}}</td>
            <td>{{this.roll_result}}</td>
            <td>{{this.difficulty_id}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Add row to Skill Check table -->
<h2>Add A New Skill Check Event</h2> 
<form id="add-event-form">
    <label for="input-description">Event Description: </label>
    <input type="text" name="input-description" id="input-description" placeholder="Enter Description">

    <label for="input-roll-value">Player Roll Value: </label>
    <input type="number" name="input-roll-value" id="input-roll-value" placeholder="Enter Roll Value">

    <select name="input-difficulty" id="input-difficulty">
        <option value="">Select Difficulty</option>
        {{#each difficulties}}
        <option value="{{this.difficulty_id}}">{{this.description}}: {{this.value}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

<script src="./js/add_event.js"></script>