<!-- 
Citation for the AJAX/app.js/express-handlebars design:
// Date: 11/7/2023
// Adapted from OSU CS340 NodeJS Starter App
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app

Citation for Icons:
//Date: 11/20/2023
// Icons for Submit, Delete, and Edit buttons were provided from svgrepo.com
// Source URL for Edit Icons: https://www.svgrepo.com/svg/511904/edit-1479
//Source URL for Submit Icons:https://www.svgrepo.com/svg/494419/submit-success-check-mark
//Soruce Url for Delete Icons: https://www.svgrepo.com/svg/499905/delete

Citation for Font Families
//Date: 11/20/2023
// Font Family ttfs obtained from fontrepo.com
//Source URL: https://www.fontrepo.com/font/360/adventure-request
//Source URL: https://www.fontrepo.com/fonts/adventure-subtitles/

Citation for GIFs
//Date: 11/21/2023
// GIFs for Critical Success and Critical Failure
//Source URL for Critical Success GIF: https://giphy.com/gifs/hyperrpg-dnd-roguelike-rogue-like-8cGXy3fskyacePqILB
//Source URL for Critical Failure GIF: https://giphy.com/gifs/dnd-d20-zxyllia-oOBTO2UcSoaBJewZT0

Citation for Bootstrap:
// Date: 12/4/2023
// Bootstrap utility for layout design/styling obtained from https://getbootstrap.com
// Source URL: https://getbootstrap.com/docs/5.3/getting-started/introduction/
-->

<!-- Show Skill Checks table -->
<h1 id="skill-check-title">Skill Check Events</h1>
<table id="events-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        {{#each data}}
        <tr data-value={{this.ID}}>
            <td>{{this.ID}}</td>
            <td>{{this.Description}}</td>
            <td>{{[Roll Result]}}</td>            
            <td>{{this.Difficulty}}</td>
            <td>{{[Difficulty Value]}}</td>
            <!-- Disable skill check edit -->
            <td><button id="edit-btn" onclick="updateEvent({{this.ID}})"><img src="/img/edit-icon.svg" width="39" height="30"></button></td>
            <!-- Disable skill check delete -->
            <td><button id="delete-btn" onclick="deleteEvent({{this.ID}})"><img src="img/delete-icon.svg" width="39" height="30"></button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/update_event.js"></script>
<script src="./js/delete_event.js"></script>

<!---Button for Toggling Display of Add Form to user -->
<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button id="show-event-btn" type="button" class="btn btn-default" onclick="displayForm()">Add Event</button>
        </div>
    </div>
</div>

<!-- Add row to Skill Check table -->
<div class="container">
    <form class="add-form" id="add-event-form">
        <fieldset class="form-group border p-3">
            <legend class="float-none w-auto">Add Skill Check Event</legend>
            <div class="row text-center">
                <div class="col-5">
                    {{!-- <label for="input-description" class="form-label">Event Description: </label> --}}
                    <input type="text" class="form-control" name="input-description" id="input-description" placeholder="Enter Description" required>
                </div>
                <div class="col-3">
                    {{!-- <label for="input-roll-value" class="form-label">Player Roll Value: </label> --}}
                    <input type="number" class="form-control" name="input-roll-value" id="input-roll-value" placeholder="Enter Roll Value" required>
                </div>
                <div class="col-4">
                    <select class="form-select" name="input-difficulty" id="input-difficulty" required>
                        <option value="">Select Difficulty</option>
                        {{#each difficulties}}
                        <option value="{{this.difficulty_id}}">{{this.description}}: {{this.value}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12 center-text">
                    <label for="add-event-btn" class="form-label"></label>
                    <button type="submit" class="btn btn-primary" id="add-event-btn">Add Event</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script src="./js/add_event.js"></script>

<!-- Update row in Skill Check Details table -->
<form id="update-event-form" hidden>
    <fieldset>
        <legend>Edit Event</legend>
        <label for="input-description-update">Event Description: </label>
        <input class="extended" type="text" name="input-description-update" id="input-description-update" placeholder="Enter Description">
        
        <label for="input-roll-value-update">Player Roll Value: </label>
        <input class="numbered" type="number" name="input-roll-value-update" id="input-roll-value-update" placeholder="Enter Roll Value">

        <select name="input-difficulty-update" id="input-difficulty-update">
            {{#each difficulties}}
            <option value="{{this.difficulty_id}}">{{this.description}}: {{this.value}}</option>
            {{/each}}
        </select>
        
        <input type="submit">
    </fieldset> 
</form>

