<!-- 
// Citation for the following file:
// Date: 11/7/2023
// Adapted from OSU CS340 NodeJS Starter App
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<!-- Show Skill Checks table -->
<h1>Skill Check Events</h1>
<table id="events-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    
    <tbody>
        {{#each data}}
        <tr data-value={{this.skill_check_id}}>
            <td>{{this.skill_check_id}}</td>
            <td>{{this.Description}}</td>
            <td>{{[Roll Result]}}</td>            
            <td>{{this.Difficulty}}</td>
            <td>{{[Difficulty Value]}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Add row to Skill Check table -->
<h2>Add A New Skill Check Event</h2> 
<form id="add-event-form">
    <fieldset>
        <legend>Add Event</legend>
        <label for="input-description">Event Description: </label>
        <input type="text" name="input-description" id="input-description" placeholder="Enter Description">

        <label for="input-roll-value">Player Roll Value: </label>
        <input type="number" name="input-roll-value" id="input-roll-value" placeholder="Enter Roll Value">

        <select name="input-difficulty" id="input-difficulty">
            <option value="">Select Difficulty</option>
            {{#each difficulties}}
            <option value="{{this.difficulty_id}}">{{this.description}}: {{this.value}}</option>
            {{/each}}
        </select>

        <!-- Disable add skill check -->
        <input type="submit">
    </fieldset>
</form>

<script src="./js/add_event.js"></script>

<!-- Update row in Skill Check Details table -->
<h2>Edit Skill Check Event</h2>
<form id="update-event-form">
    <fieldset>
        <legend>Edit Event</legend>
        <label for="input-event-name"></label>
        <select name="input-event-name" id="selected-event">
            <option value="test">Select A Event</option>
            {{#each data}}
            <option value="{{this.skill_check_id}}">{{this.Description}}</option>
            {{/each}}
        </select>
        
        <label for="input-roll-value-update">Player Roll Value: </label>
        <input type="number" name="input-roll-value-update" id="input-roll-value-update" placeholder="Enter Roll Value">

        <select name="input-difficulty-update" id="input-difficulty-update">
            <option value="">Select Difficulty</option>
            {{#each difficulties}}
            <option value="{{this.difficulty_id}}">{{this.description}}: {{this.value}}</option>
            {{/each}}
        </select>
        
        <!-- Disable update event -->
        <input type="submit">
    </fieldset>   
</form>

<script src="./js/update_event.js"></script>