<!-- 
// Citation for the following file:
// Date: 11/2/2023
// Adapted from OSU CS340 NodeJS Starter App
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app

//Citation for Icons:
//Date: 11/20/2023
// Icons for Submit, Delete, and Edit buttons were provided from svgrepo.com
// Source URL for Edit Icons: https://www.svgrepo.com/svg/511904/edit-1479
//Source URL for Submit Icons:https://www.svgrepo.com/svg/494419/submit-success-check-mark
//Soruce Url for Delete Icons: https://www.svgrepo.com/svg/499905/delete

// Citation for Font Family
//Date: 11/20/2023
// Font Family ttf obtained from fontrepo.com
//Source URL: https://www.fontrepo.com/font/360/adventure-request
-->


<h1>Skill Check Event Details</h1>
<table id="event-details-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        {{#each data}}
        <tr data-value={{this.ID}}>
            <td>{{this.ID}}</td>
            <td>{{this.Action}}</td>
            <td>{{this.Character}}</td>
            <td>{{this.Item}}</td>
            <td>{{this.Description}}</td>
            <!-- Disable skill check details edit -->
            <td><button onclick="updateEventDetails({{this.ID}})"><img src="/img/edit-icon.svg" width="39" height="30"></button></td>
            <!--Disable skill check details delete-->
            <td><button onclick="deleteEventDetails({{this.ID}})"><img src="/img/delete-icon.svg" width="39" height="30"></button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/update_event_details.js"></script>
<script src="./js/delete_event_details.js"></script>

<!-- Add row to Skill Check Details table -->
<h2>Add A New Skill Check Event Details</h2> 
<form id="add-event-details-form">
    <fieldset>
        <legend>Add Event Details</legend>
        <select name="input-action" id="input-action">
            <option value="">Select Action</option>
            {{#each actions}}
            <option value="{{this.action_id}}">{{this.name}}</option>
            {{/each}}
        </select>

        <select name="input-character" id="input-character">
            <option value="">Select Character</option>
            {{#each characters}}
            <option value="{{this.character_id}}">{{this.name}}</option>
            {{/each}}
        </select>

        <select name="input-item" id="input-item">
            <option value="">Select Item</option>
            {{#each items}}
            <option value="{{this.item_id}}">{{this.name}}</option>
            {{/each}}
            <option value="NULL">None</option>
        </select>

        <select name="input-skill-check" id="input-skill-check">
            <option value="">Select Skill Check</option>
            {{#each skill_checks}}
            <option value="{{this.skill_check_id}}">{{this.description}}</option>
            {{/each}}
        </select>

        <!-- Disable add skill check details -->
        <input type="submit">
    </fieldset>
</form>
<script src="./js/add_event_details.js"></script>
<!-- Update row in Skill Check Details table -->
<form id="update-event-details-form" hidden>
    <fieldset>
        <legend>Edit Event Details</legend>
        <select name="update-action" id="update-action">
            {{#each actions}}
            <option value="{{this.action_id}}">{{this.name}}</option>
            {{/each}}
        </select>

        <select name="update-character" id="update-character">
            {{#each characters}}
            <option value="{{this.character_id}}">{{this.name}}</option>
            {{/each}}
        </select>

        <select name="update-item" id="update-item">
            {{#each items}}
            <option value="{{this.item_id}}">{{this.name}}</option>
            {{/each}}
            <option value="NULL">None</option>
        </select>

        <select name="update-skill-check" id="update-skill-check">
            {{#each skill_checks}}
            <option value="{{this.skill_check_id}}">{{this.description}}</option>
            {{/each}}
        </select>
    </fieldset>
</form>

<script src="./js/update_event_details.js"></script>

