<!-- Show Skill Checks Details table -->
<h1>Skill Check Event Details</h1>
<table id="event-details-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    
    <tbody>
        {{#each data}}
        <tr data-value={{this.skill_check_details_id}}>
            <td>{{this.skill_check_details_id}}</td>
            <td>{{this.Action}}</td>
            <td>{{this.Character}}</td>
            <td>{{this.Item}}</td>
            <td>{{this.Description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
