<h1>Party Inventory List</h1>
<table id="items-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.item_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.item_type_id}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add A New Item</h2>
<form id="add-item-form">
    <label for="input-item-name">New Item Name: </label>
    <input type="text" name="input-item-name" id="input-item-name" placeholder="Enter Name">

    <label for="input-quantity">Item Quantity</label>
    <input type="number" name="input-quantity" id="input-quantity" placeholder="Enter Quantity">

    <select name="input-item-type" id="input-item-type">
        <option value="">Select Item Type</option>
        {{#each types}}
        <option value="{{this.item_type_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

<script src="./js/add_item.js"></script>