<!-- 
// Citation for the following file:
// Date: 11/2/2023
// Adapted from OSU CS340 NodeJS Starter App
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app

//Citation for Icons:
//Date: 11/20/2023
// Icons for Submit, Delete, and Edit buttons were provided from svgrepo.com
// Source URL for Edit Icons: https://www.svgrepo.com/svg/511904/edit-1479
//Source URL for Submit Icons:https://www.svgrepo.com/svg/494419/submit-success-check-mark
//Soruce Url for Delete Icons: https://www.svgrepo.com/svg/499905/delete

// Citation for Font Family
//Date: 11/20/2023
// Font Family ttf obtained from fontrepo.com
//Source URL: https://www.fontrepo.com/font/360/adventure-request
-->

<!-- Show the Items table -->
<h1>Party Inventory List</h1>
<table id="items-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        {{#each data}}
        <tr data-value={{this.ID}}>
            <td>{{this.ID}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Quantity}}</td>
            <td>{{[Item Type]}}</td>
            <td><button onclick="updateItem({{this.ID}})"><img src="/img/edit-icon.svg" wdith="39" height="30"></button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Add row to Items table -->
<div class="container">
    <form id="add-item-form">
        <fieldset class="form-group border p-3">
            <legend class="float-none w-auto">Add Item</legend>
            <div class="row">
                <div class="col-4">
                    {{!-- <label class="form-label" for="input-item-name">New Item Name: </label> --}}
                    <input type="text" class="form-control" name="input-item-name" id="input-item-name" placeholder="Enter Name" required>
                </div>
                <div class="col-4">
                    {{!-- <label for="input-quantity" class="form-label">Item Quantity</label> --}}
                    <input type="number" class="form-control" name="input-quantity" id="input-quantity" placeholder="Enter Quantity">
                </div>
                <div class="col-4">
                    <select class="form-select" name="input-item-type" id="input-item-type" required>
                        <option value="">Select Item Type</option>
                        {{#each types}}
                        <option value="{{this.item_type_id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary" id="add-item-btn">Add Item</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script src="./js/add_item.js"></script>

<!-- Update row in Items table-->
<form id="update-item-form" hidden>
    <fieldset>
        <legend>Edit Item</legend>
        <label for="update-item-name">New Item Name: </label>
        <input class="length" type="text" name="update-item-name" id="update-item-name" placeholder="Enter Name">

        <label for="update-item-quantity"> Item Quantity: </label>
        <input class="numbered" type="number" name="update-item-quantity" id="update-item-quantity" placeholder="Quantity Value"> 

        <label for="update-item-type">Select Item Type </label>
        <select name="update-item-type" id="update-item-type">
            {{#each types}}
            <option value="{{this.item_type_id}}">{{this.name}}</option>
            {{/each}}
        </select>

        <!-- Disable update Item -->
        <input type="submit">
    </fieldset>
</form>

<script src="./js/update_item.js"></script>