<!-- Defines the body of the Items web page -->

<h1>Party Inventory List</h1>
<table id="items-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    
    <tbody>
        {{#each data}}
        <tr data-value={{this.item_id}}>
            <td>{{this.item_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.item_type_id}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add A New Item</h2>
<form id="add-item-form">
    <label for="input-item-name">New Item Name: </label>
    <input type="text" name="input-item-name" id="input-item-name" placeholder="Enter Name">

    <label for="input-quantity">Item Quantity</label>
    <input type="number" name="input-quantity" id="input-quantity" placeholder="Enter Quantity">

    <select name="input-item-type" id="input-item-type">
        <option value="">Select Item Type</option>
        {{#each types}}
        <option value="{{this.item_type_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

<script src="./js/add_item.js"></script>

{{!------------ UPDATING ITEM INFORMATION FORM -----------------}}

<h2>Edit Item Information</h2>
<form id="update-item-form">
    <label for="update-item-name"></label>
    <select name="update-item-name" id="selected-item">
        <option value="">Select An Item</option>
        {{#each data}}
        <option value="{{this.item_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="update-quantity"> Item Quantity: </label>
    <input type="number" name="update-quantity" id="input-quantity-update" placeholder="Quantity Value"> 

    <label for="update-item-type">Select Item Type </label>
    <select name="update-item-type" id="input-type-update">
        <option value="">Select Item Type</option>
        {{#each types}}
        <option value="{{this.item_type_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <input type="submit">
   
</form>
<script src="./js/update_item.js"></script>